/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/style.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.style_pages__dY9YG {
    display: flex; /* Flexbox düzenini kullan */
    flex-direction: row; /* Elemanları yatay olarak sırala (yan yana) */
    background-color: rgba(255, 255, 255, 0.233); /* Arka plan rengi beyaz */
    z-index: 99;
    width: 100%; /* Genişliği 15% */
    height: 100%; /* Yüksekliği 50% */
    gap: 25px; /* Elemanlar arasına 20px boşluk ekler */
}

.style_allElement__6O7m7 {
    display: flex; /* Flexbox düzenini kullan */
    flex-direction: row; /* Elemanları yatay olarak sırala (yan yana) */
    align-items: center; /* Elemanları dikeyde ortala */
    justify-content: start; /* Elemanları yatayda başlangıca hizala */
    width: auto; /* div'in genişliği sayfanın genişliği kadar olacak */
    margin: 0; /* Varsayılan marjinleri kaldır */
    padding: 0; /* Varsayılan padding'i kaldır */
    background-color: rgb(255, 255, 255); /* Arka plan rengi beyaz */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Hafif gri border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Şık gölge efekti */
    border-radius: 8px; /* Kenarları yuvarlat */
}

.style_toolside__XsPye {
    display: flex; /* Flexbox düzenini kullan */
    flex-direction: row; /* Elemanları yatay olarak sırala (yan yana) */
   
    width: 200px; /* Genişliği 15% */
    height: 300px; /* Yüksekliği 50% */
    background-color: #EEEEEE; /* Arka plan rengi beyaz */
    border: 1px solid rgba(0, 0, 0, 0.1); /* Hafif gri border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Şık gölge efekti */
    border-radius: 8px; /* Kenarları yuvarlat */
    padding: 10px; /* İçerik ile border arasında boşluk */
}


/* style.module.css */
.style_dropdown__2gjIt {
    width: 200px; /* Dropdown genişliği */
  }
.style_dropdowntrigger__OZmrz{
    width: 100px;
}
  
.style_dropdownButton__MI3iH {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .style_dropdownMenu__d4CIs {
    background-color: #ffffff; /* Menü arka plan rengi */
    border: 1px solid #ccc; /* Menü border rengi */
    border-radius: 8px; /* Menü köşe yuvarlaklığı */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Menü gölge efekti */
  }
  
  .style_dropdownItem__Naayb {
    padding: 8px 12px; /* Menü öğesi iç boşluk */
    cursor: pointer; /* Menü öğesi işaretçi */
  }

  .style_caret__criPY {
    border-top: 5px solid #000;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    margin-left: 5px;
  }
  
  /* Tüm TableCell elemanlarını hedefleme */
.style_tableCell__bwe6X {
    display: flex; /* Flexbox düzenini kullan */
    align-items: center; /* Elemanları dikeyde ortala */
    background-color: #f9f9f9;
  }
  
.style_table__Y09n3{
    width: 100%;
    display: flex;
    justify-content: center;
}
