################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StockAPI/.vs/StockAPI/FileContentIndex/40354dea-fcef-4ad1-9579-8cb96e850273.vsidx
