################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StockAPI/.vs/StockAPI/FileContentIndex/40354dea-fcef-4ad1-9579-8cb96e850273.vsidx
/StockAPI/.vs/StockAPI/FileContentIndex/17a5d5b8-f90c-4f74-947d-7f90fe29725e.vsidx
/.vs/StockPredictionApplication/v17/.wsuo
/.vs/StockPredictionApplication/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/StockAPI/.vs/StockAPI/DesignTimeBuild/.dtbcache.v2
/StockAPI/.vs/StockAPI/FileContentIndex/1b8350f5-d960-42bc-a87d-0e7ba72e252f.vsidx
/StockAPI/.vs/StockAPI/v17/.suo
/StockAPI/.vs/StockAPI/v17/DocumentLayout.json
/StockAnalysis/stock_analysis/node_modules
